img {
    border-radius: 50%;
  }
 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
    p {
background-color: rgba(93, 152, 194, 0.315);
color: rgb(57, 18, 18)
width: 800px;
padding: 30px;
text-align: center;
}
h1,h2,h3,h6,p,form {color: rgb(251, 251, 251);

}

